@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster+Two&display=swap');

*{
    font-family: 'Itim'
}

body{
    display: grid;
    height: 90vh;
    background-image: url(images/paper-bg.webp);
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: 1fr 1fr 1fr 15fr 1fr;  
    grid-template-areas: 
    'start reset'
    'pc pc'
    'playerOne playerTwo'
    'container container'
    'score score';
    gap: 25px;
    
}

#container{
    grid-area: container;
    display: grid;
    height: 500px;
    width: 500px;
    background-image: url(images/tic-tac-toe-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    
   
}

#gameboard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-items: center;
    justify-content: center;
    
    
}

.cells{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    right: 25px;


   
    
}
button{
    width: 25%;
    
}

#start{
    grid-area: start;
    justify-self: end;
   
}
#reset{
    grid-area: reset;
    justify-self: start;
}
#playerOneDiv{
    grid-area: playerOne;   
    justify-self: end; 
    background-color: pink;
   


}
#playerTwoDiv{
    grid-area: playerTwo;
    justify-self: start;
    background-color: lightblue;
    

}
#playerTwoDiv, #playerOneDiv{
    text-align: center;    
    border-radius: 20px;
    padding: 8px;
    border: 5px dashed black;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px gray;

}

input[type=text]{
    border: none;
    border-radius: 20px;
    width: 10rem;
    padding: 6px;
    box-shadow: 5px 5px 5px gray;
    
}

input[type=button]{
    border: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    opacity: 0.8;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: white;
    opacity: 1;
}

button{
    background-color: rgba(208, 211, 190, 0.918);
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    
}
button:hover{
    background-color: white;
    opacity: 1;
}

#winnerPopup{    
    display: none;
    position: absolute;
    left: 42%;
    top: 45%;
    width: 15%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3rem;
    box-shadow: 5px 5px 5px gray;
    border: 5px dashed black;  
}

#winnerPopupText{
    margin: none;
    padding: none;
}

#score{          
    grid-area: score;
    background-color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3rem;
    box-shadow: 5px 5px 5px gray;
    border: 5px dashed black; 
    justify-self: center;
    box-shadow: 5px 5px 5px gray;
}

#Computer{
    grid-area: pc;
    justify-self: center;
}
